[Unit]
Description=Promtail
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/{{ promtail_filename }} -config.file /usr/local/etc/promtail.cfg

[Install]
WantedBy=multi-user.target
