server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://127.0.0.1:3100/loki/api/v1/push

scrape_configs:
  - job_name: journal
    journal:
      max_age: 12h
      path: {{ journal_directory }}
      labels:
        job: systemd-journal
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'

  - job_name: linux_messages
    pipeline_stages:
    static_configs:
    - labels:
        job: messages
        host: localhost
        type: linux
        __path__: /var/log/messages

  - job_name: linux_secure
    pipeline_stages:
    static_configs:
    - labels:
        job: secure
        host: localhost
        type: linux
        __path__: /var/log/secure

  - job_name: oracle_rdbms_alert
    pipeline_stages:
    - match:
        selector: '{job="rdbms_alert"}'
        stages:
        - regex:
            expression: "^(?P<ora_message>ORA-[0-9]+)"
        - labels:
            ora_message:
    static_configs:
    - labels:
        job: rdbms_alert
        host: localhost
        type: oracle
        __path__: /u01/app/oracle/diag/rdbms/*/*/trace/alert*log

  - job_name: oracle_rdbms_listener
    pipeline_stages:
    - match:
        selector: '{job="rdbms_listener"}'
        stages:
        - regex:
            expression: "^(?P<ora_message>ORA-[0-9]+)"
        - labels:
            ora_message:
    static_configs:
    - labels:
        job: rdbms_listener
        host: localhost
        type: oracle
        __path__: /u01/app/oracle/diag/tnslsnr/*/*/trace/*log
